<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
        <h5>By: {{user.username}}</h5>
        <p>{{post_text}}</p>
    </div>
    <div class="meta">
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>